@import "tailwindcss";

@theme {
    --font-sans: "Outfit", sans-serif;
}

@layer base {
    body {
        @apply antialiased;
        background-color: #111411;
        color: #cdcdcd;
    }

    button {
        @apply cursor-pointer;
    }

    html.rtl {
        direction: rtl;
    }

    html.ltr {
        direction: ltr;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    display: inline-flex;
    animation: marquee 40s linear infinite;
}

.animate-marquee-rtl {
    display: inline-flex;
    animation: marquee 40s linear infinite reverse;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.animate-float {
    animation: float 5s ease-in-out infinite;
}

@theme {
    --color-primary: #efff43;
    --color-primary-hover: #d9e83d;
    --color-secondary: #cdcdcd;
    --color-dark-bg: #111411;
    --color-dark-card: #1a1d1a;
    --color-brand: #efff43;
    --color-brand-dark: #d9e83d;
    --color-brand-light: #f4ff6f;
}

@layer utilities {
    .glass-panel {
        @apply bg-white/5 backdrop-blur-lg border border-white/10 shadow-xl;
    }
}